html{
	scroll-behavior:smooth;
	font-family:Verdana;
}
body{margin: 0;text-align: center;}
nav{
	position:fixed;
	z-index: 2;
	top:0;
	left:0;
	right:0;
	display: flex;
	justify-content: center;
	background-color:black;
	color:white;
	box-shadow:0 0 5px 2px rgb(50, 50, 50);
}
.nav-item{
	text-decoration: none;
	color: white;
	padding: 15px;
}
.nav-item:hover{
	background-color: grey;
}
.content{
	min-height:100vh;
	padding:50px 0 50px 0;
}
#content-home{
	background:linear-gradient(to bottom, rgb(10, 10, 10), black);	
	color:white;
	display:flex;
	flex-direction:column;
	padding:100px;
}
#content-works{
	background:linear-gradient(to bottom,whitesmoke, gainsboro);
	padding:75px 25px;
}
#content-tips{
	background:linear-gradient(to bottom,whitesmoke, gainsboro);	
}
#content-about{
	background:linear-gradient(to bottom, rgb(30, 30, 30), black);	
	color:white;	
	padding-top:100px;
}
.nameHeading{
	font-size:xxx-large;
	font-weight:500;
	padding:70px
}
#nameHeading1{
	animation: fade 0.5s ease;
}
#nameHeading2{
	animation: fade 2s ease;
}
#connectionIcons, #skillIcons{
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.connectionIconLink:nth-child(1){
	animation: fadeFast 2.5s ease;
}
.connectionIconLink:nth-child(2){
	animation: fadeFast 2.65s ease;
}
.connectionIconLink:nth-child(3){
	animation: fadeFast 2.8s ease;
}
.connectionIconLink:nth-child(4){
	animation: fadeFast 2.95s ease;
}
.connectionIconLink:nth-child(5){
	animation: fadeFast 3.1s ease;
}
.connectionIconLink:nth-child(6){
	animation: fadeFast 3.2s ease;
}
.skillIconDiv:nth-child(1){
	animation: fadeFast 3.25s ease;	
}
.skillIconDiv:nth-child(2){
	animation: fadeFast 3.4s ease;	
}
.skillIconDiv:nth-child(3){
	animation: fadeFast 3.65s ease;	
}
.skillIconDiv:nth-child(4){
	animation: fadeFast 3.8s ease;	
}
.skillIconDiv:nth-child(5){
	animation: fadeFast 3.95s ease;	
}
.skillIconDiv:nth-child(6){
	animation: fadeFast 4.1s ease;	
}
.skillIconDiv:nth-child(7){
	animation: fadeFast 4.25s ease;	
}
.skillIconDiv:nth-child(8){
	animation: fadeFast 4.4s ease;	
}
.skillIconDiv:nth-child(9){
	animation: fadeFast 4.65s ease;	
}
.skillIconDiv:nth-child(10){
	animation: fadeFast 4.8s ease;	
}
.connectionIcon,.skillIcon{
	transform:scale(1.25);
	margin:10px;
	width:30px;
	height:30px;
	border-radius:50%;
	cursor:pointer;
}
.skillIcon{
	width:60px;
	height:60px;
	border-radius:5px;
	padding:12px;
}
.connectionIcon{
	transform: scale(1);
	outline:none;
	text-decoration:none;
	color:white;
	height: 60px;
	width: 60px;
}
.connectionIcon:hover,.connectionIcon:focus{
	box-shadow: 0 0 5px 2px rgba(100, 100, 100, 1);
	transform: scale(1.2);
	transition: 0.25s ease-out;
}
.skillIcon:hover,.skillIcon:focus{
	background-color:#333333;
	animation: highlightGrow 1s linear infinite;
}
#connectionIconHeading{
	animation:fadeFast 2.25s ease-in-out;
}
#skillIconHeading{
	animation:fadeFast 3.1s ease-in-out;	
}
#content-works-items{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.content-works-item{
	min-height:300px;
	display:flex;
	border: 1px solid rgb(170, 170, 170);
	width:100%;
	box-shadow:0 0 5px 2px grey;
	margin:10px 0;
	border-radius: 10px;
}
.content-works-item-heading{
	width:30%;
	background-color:rgb(170, 200, 200);
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.contentSitesMobile{display: none;}
.content-works-item-content{
	width:45%;
	text-align:left;
	padding:10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size:large;
}
.content-works-item-image{
	width:25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background:linear-gradient(to right,white, rgb(200, 225, 225));
}
.projectImage{
	max-width: 350px;
	max-height: 300px;
	cursor: pointer;
	box-shadow: 0 0 10px 3px rgba(70, 100, 150, 0.7);
}
.projectImage:hover{
	opacity: 0.7;
}
.pageLink{
	text-decoration: none;
	color: rgb(24,118,242);
	cursor: pointer;
}
.outsideModal{
	position: fixed;display: none;
	width: 100%;height: 100%;
	background-color: rgba(0, 0, 0, 0.8);z-index: 3;
}
.imageModal{
	position: fixed;
	max-width: 100vw;max-height: 70vh;
	top: 10%;left: 50%;transform: translateX(-50%);
	z-index: 3;
	animation: zoom 1s ease-in-out;
}
.myButton{
	border-radius: 10px;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	color: white;	
}
.siteButton{
	background-color: rgba(50, 125, 225, 1.0);
}
.siteButton:hover{
	background-color: rgba(50, 125, 225, 0.7);
}
.linkButton{
	background-color: rgba(50, 150, 25, 1.0);
}
.linkButton:hover{
	background-color: rgba(50, 150, 25, 0.7);
	color: white;
}
.content-works-item-content:nth-child(even){
	background:linear-gradient(to left,white, rgb(200, 225, 225));
}
.content-works-item-content:nth-child(odd){
	background:linear-gradient(to right,white, rgb(200, 225, 225));
}
.contentTags{
	padding:10px;
	color:mediumblue;
}
.worksHeading{
	font-size:x-large;
	font-weight:500;
	text-decoration:underline;
}
.languagesUsed{
	font-family:verdana;
	color:darkblue;
	font-size:large;
}
.contentSites{
	display:flex;
	justify-content:center;
}
.indtabcontent{
	text-align: left;
	min-width: 30%;width: 50%;
	padding: 10px 20px;
	margin: auto;margin-bottom: 10px;
	border-radius: 10px;word-break: break-word;
	background-color: rgba(200, 225, 225, 1.0);
	box-shadow: 0 0 5px 2px rgb(180, 180, 180);
}
code{
	font-size: large;
	background-color: whitesmoke;
}
comment{
	color: limegreen;
}
.text-warning{color: #ffc107;}
.text-success{color: #28a745;}
.text-danger{color: #dc3545;}
.text-primary{color: #007bff;}
.text-secondary{color: #6c757d;}
.text-info{color: #17a2b8;}
.aboutLine{
	padding: 10px 0 25px 0;
	display: flex;vertical-align: middle;overflow: auto;
}
.postHeading{font-weight: 600;}
.lifeStyle{
	width:80%;
	margin:auto;
	text-align:left;
	font-size:x-large;
	color:green;
	font-family:monospace;
}
.programDiv{
	padding:0 50px;
}
#programHeading{
	text-decoration:underline;
	text-decoration-style:dotted;
}
.ripple{
	animation: ripple 2s ease-in-out;
}
.getUpAnimation{
	animation:getUpAnimation 1s ease-out;
	transform: translateY(0px) scale(1);
}
.stayDown{
	transform: translateY(50px) scale(0.5);
}
.staySide{
	transform: translateY(10px) translateX(5px) scale(0.9);
}
.getSideAnimation{
	animation:getSideAnimation 1s ease-out;
	transform: translateY(0px) translateX(0px) scale(1);
}
@keyframes highlightGlow{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@keyframes ripple{
	0%{box-shadow: 0 0 0px 0px rgba(255, 255, 255, 1);border-radius: 50%;}
	10%{box-shadow: 0 0 0px 0px rgba(255, 255, 255, 1);border-radius: 50%;}
	60%{box-shadow: 0 0 2px 10px rgba(255, 255, 255, 0);border-radius: 50%;}
	100%{box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);border-radius: 50%;}
}
@keyframes highlightGrow{
	0%{transform: scale(1.5);}
	50%{transform: translateY(5px) scale(1.5);}
	100%{transform: scale(1.5);}
}
@keyframes fade{
	0%{opacity: 0;}
	50%{opacity: 0;}
}
@keyframes fadeFast{
	0%{opacity: 0;visibility: hidden;}
	90%{opacity: 0;visibility: hidden;}
}
@keyframes getSideAnimation{
	0%{transform: translateY(10px) translateX(5px) scale(0.9);}
	100%{transform: translateY(0px) translateX(0px) scale(1);}
}
@keyframes getUpAnimation{
	0%{transform: translateY(50px) scale(0.5);}
	100%{transform: translateY(0px) scale(1);}
}
@keyframes zoom{
	0%{transform: translateX(-50%) scale(0.35);border-radius: 50%;opacity: 0;}
	20%{transform: translateX(-50%) scale(0.35);border-radius: 50%;opacity: 0;}
	100%{transform: translateX(-50%) scale(1);}	
}
@media only screen and (max-width: 950px){
	#content-home{
		padding:20px 0;
	}
	.content-works-item{
		flex-direction:column;
	}
	.content-works-item-content,.content-works-item-heading{
		width:100%;
		padding:0;
	}
	#content-works{
		padding:75px 5px;
	}
	.indtabcontent{
		width: 85%;
	}
	.worksHeading,.languagesUsed,.contentSites{
		padding:10px
	}
	#content-about{
		width:100%;
	}
	.content-works-item-image{
		width: 100%;
		padding: 10px 0 0 0;
		box-shadow: none;
	}
	.content-works-item{margin: 10px 0;}
	.content-works-item-content{padding: 10px;width: auto;}
	.contentSites{display: none;}
	.contentSitesMobile{display: block;padding: 30px 10px;}
	#connectionIcons, #skillIcons{
		flex-direction: column;
	}
	.programDiv{
		padding: 20px 0; 
	}
	.comments{
		display:block;
	}
}
